---
import ItemExperience from "../../components/experience/ItemExperience.astro";
import { workExperience } from "../../data/experience";
---

<section class="experience-container">
    {workExperience.map((exp, index) => (
      <ItemExperience
        key={index}
        label={exp.label}
        period={exp.period}
        company={exp.company}
        link={exp.link}
      />
    ))}
  </section>

<style>
    .experience-container{
        margin-top: 28px;
    }
</style>